[Unit]
Description=Twitter Keyword Bot
After=network.target

[Service]
ExecStart=/var/www/twitter-keyword-bot/app/app2.js
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
EnvironmentFile=/var/www/twitter-keyword-bot/.env_vars
WorkingDirectory=/var/www/twitter-keyword-bot

[Install]
WantedBy=multi-user.target